@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

body {
  font-size: 28px;
  background: hsl(218, 23%, 16%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background: hsl(217, 19%, 24%);
  width: 350px;
  height: 350px;
  border-radius: 20px;
  text-align: center;
  padding: 40px 20px;
  position: relative;
}

small {
  text-transform: uppercase;
  color: hsl(150, 100%, 66%);
}

.advice-container {
  height: 150px;
}

.advice {
  color: hsl(193, 38%, 86%);
  margin: 25px 0 20px;
}

.dice-btn {
  background: hsl(150, 100%, 66%);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -25px;
  cursor: pointer;
}

.dice-btn:hover {
  box-shadow: 3px 1px 25px 4px hsl(150, 100%, 66%);
}

/* MEDIA QUERY FOR MORE THAN 768PX */

@media only screen and (min-width: 768px) {
  main {
    width: 500px;
    height: 300px;
  }
  .mobile-divider {
    display: none;
  }
  .advice-container {
    height: 110px;
  }
}

/* MEDIA QUERY FOR LESS THAN 768PX */

@media only screen and (max-width: 767px) {
  .desk-divider {
    display: none;
  }
}
